<div class="page-header">
  <h3>Postcard #<%= @postcard.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Message</dt>
      <dd><%= @postcard.message %></dd>

      <dt>Photo</dt>
      <dd><%= @postcard.photo_id %></dd>

      <dt>Recipient</dt>
      <dd><%= @postcard.recipient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/postcards" class="btn btn-default">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a href="/postcards/<%= @postcard.id %>/edit" class="btn btn-default">
        <i class="fa fa-edit"></i>
      </a>
      <a href="/delete_postcard/<%= @postcard.id %>" class="btn btn-default" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
  </div>
</div>
